$mobile: 390px;
$tablet_min: 768px;
$tablet_max: 960px;

@font-face {
  font-family: 'PT_Sans';
  src: url('./fonts/PT_Sans/PTSans-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

.background {
  position: relative;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT_Sans';
  height: 100vh;
  color: #fff;
  transition: background-image 1s ease-in-out;
}

.control {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  margin: 0 5%;
  @media screen and (max-width: $mobile) {
    flex-direction: column;  
  }
}  

.wrapper-col {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: $mobile) and (max-width: $tablet_max) and (orientation: portrait) {
    flex-direction: column;
    justify-content: center;
  }
}

.control-button {
  display: flex;
  @media screen and (max-width: $mobile) {
    justify-content: center;
  }
}

.button {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(71, 73, 75, 0.2);
  background: rgba(180, 184, 187, 0.7);
  font-family: inherit;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
  outline: none;
}

.button:hover {
  background: rgba(121, 121, 121, 0.7);
}

.search-input-btn {
  position: absolute;
  z-index: 1;
  top: .1rem;
  right: 3.4rem;
  width: 2.5rem;
  height: 2rem;
  background: none;
  border: none;
  color: rgba(151, 151, 142, 0.6);
  cursor: pointer;
}

.search-input-btn:hover {
  color: #fff;
}

.no-active {
  background: rgba(121, 121, 121, 0.7);
  color: rgba(52, 56, 58, 0.7);
  cursor: pointer;
}

.no-active:hover {
  box-shadow: 0 0 10px 0 rgba(196, 196, 188, 0.6), 0 0 6px 0 rgba(196, 196, 188, 0.8), 0 0 10px 0 rgba(196, 196, 188, 0.6);
}

.change-pic {
  background: rgba(180,184,187,.2) url(./assets/button.png) no-repeat bottom;
  background-size: contain;
  cursor: pointer;
}

.lang {
  width: 45px;
  cursor: pointer;
}

.button-c {
  margin-right: 0;
  border-radius: 6px 0 0 6px;
}

.button-f {
  border-radius: 0 6px 6px 0;
}

.form {
  @media screen and (max-width: $mobile) {
    margin-top: 15px;
  }
}

.search {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin-left: 2rem;
}

.geo-text {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  @media screen and (max-width: $mobile) {
    font-size: 38px;
    text-align: center;
  }
  @media (min-width: $tablet_min) and (max-width: $tablet_max) and (orientation: portrait) {
    text-align: center;
  }
}

.date {
  font-size: 18px;
  text-transform: uppercase;
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
  @media (min-width: $tablet_min) and (max-width: $tablet_max) and (orientation: portrait) {
    text-align: center; 
  }

}

.weather-now {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $tablet_min) and (max-width: $tablet_max) and (orientation: portrait) {
    justify-content: center;
  }
}

.weather-now-deg {
  font-size: 180px;
  margin: 0;
}

.weather-now-dop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dop {
  margin: 5px;
  text-transform: uppercase;
  @media screen and (max-width: $mobile) {
    font-size: 35px;
  }
}

.weather-then {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

.then-text {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}


.day {
  @media screen and (max-width: $mobile) {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

.degC, .degF {
  display: inline;
  font-size: 50px;
  @media screen and (max-width: $mobile) {
    font-size: 70px;
    text-align: center;
  }
}

.search-input {
  width: 230px;
  height: 35px;
  border: 1px solid rgba(180,184,187, 0.5);
  border-radius: 10px 0 0 10px;
  padding: 5px;
  background: rgba(76,82,85,0.7);
  font-family: inherit;
  color: #fff;
}

.search-btn {
  width: 15%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  @media screen and (max-width: $mobile) {
    margin-top: 0;
    align-items: center;
    margin-bottom: 20px;
  }
  @media (min-width: $mobile) and (max-width: $tablet_max) and (orientation: portrait) {
    align-items: center;  
  }
}

.map-pic {
  width: 350px;
  height: 350px;
  margin-top: 15%;
  margin-bottom: 5%;
  clip-path: polygon(51% 4%, 100% 0, 100% 35%, 98% 63%, 92% 86%, 65% 96%, 0 100%, 0% 70%, 4% 36%, 15% 8%);
  @media screen and (max-width: $mobile) {
    width: 300px;
    height: 300px;
    margin-top: 5%;
  }
}

.map-text {
  margin: 5px;
}

.weather-now-icon {
  width: 180px;
  height: 180px;
}

.weather-then-icon {
  width: 64px;
  height: 64px;
}

.err {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.hidden {
  display: none;
}
